/resources/views/cache
/resources/views/mobile/cache
/resources/views/web/cache
/public/storage
/storage/app


/node_modules
/public/storage
/resources/views/cache
/storage/*.key
!vendor/backpack
/vendor
/resources/views/cache
/.idea
/.env
/.env.beta
