.title_home_tablet{
    white-space: nowrap;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-upload{
    margin-left: 20px;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success.checkbox-inline label, .has-success.checkbox label, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.radio-inline label, .has-success.radio label {
    color: #3c763d;
}
.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .form-control-file {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control-file:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}
.has-success .form-control-feedback {
    color: #3c763d;
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning.checkbox-inline label, .has-warning.checkbox label, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.radio-inline label, .has-warning.radio label {
    color: #8a6d3b;
}
.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
    color: #8a6d3b;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error.checkbox-inline label, .has-error.checkbox label, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.radio-inline label, .has-error.radio label {
    color: #ff4e55;
}
.has-error .form-control {
    border-color: #ff4e55!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #ff4e55;
    border-color: #ff4e55;
    background-color: #f2dede;
}
.has-error .form-control-feedback {
    color: #ff4e55;
}
.has-error .token-input-list-facebook {
    border-color: #ff4e55;
}
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    padding-top: 8px;
    padding: 4px .75rem;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #FF2D55;
    border-color: #FF2D55;
    cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777777;
    background-color: #fff;
    cursor: not-allowed;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #ff3456;
    border-radius: 5px;
    padding: 3px 8px;
}
.has-error-drop-file {
    border-color: #ff4e55;
}
.bxh .media .media-body .author{
    float: left;
}
.bxh .media .media-body .counter_view{
    float: right;
}
.jw-icon-playback:hover {
    color: #ff3456!important;
}
.jw-icon-nextsong:hover {
    color: #ff3456!important;
}
.stringQ {
    max-width: 150px!important;
}
.stringQ:hover {
    color: #ff3456!important;
    max-width: 150px!important;
}
.jw-icon-volume:hover {
    color: #ff3456!important;
}
.jw-progress{
    background-image: linear-gradient(-243deg, #FB6B60 0%, #FF2E55 100%)!important;
}
.messenger-share-link{
    background-image: url('../imgs/icon_messenger.png');
    background-size: 27px;
    background-repeat: no-repeat;
}
.d-table{
    width: 100%;
}
.music_recommendation {
    overflow-y: auto;
    max-height: 210px;
}
.music_recommendation .listen .name a{
    color:#FF2D55
}
.music_recommendation .listen .author a{
    color:#FF2D55
}
.music_recommendation .listen .tool span{
    color:#FF2D55!important
}
.music_recommendation .listen .tool i{
    color:#FF2D55!important
}
.media-text{
    max-width: 720px!important;
}
.reply_comment{
    cursor: pointer;
    margin-top: -18px;
    opacity: 0;
    transition: all 0.2s linear;
}
.jw-controlbar-left-group {
    padding-left: 6px!important;
}
.body_commnet:hover .reply_comment{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
}
.reply_comment:hover {
    color: #FF2D55;
}
.post_comment_reply {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.reply_show{
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}
.post_comment_reply form {
    margin: 5px;
}
.list_comments .media {
    margin-bottom: 5px;
}
.list_comments .media-body .media{
    margin-top: 5px;
    margin-bottom: 0px;
}
.modal-body{
    font-size: 14px;
}
.playlist-csn i {
    font-size: 14px!important;
    margin-bottom: 0px!important;
}
.playlist-csn .list-inline-item {
    margin-bottom: 0px!important;
    padding-top: 3.5px;
}
.playlist_1 .card-body .list-unstyled li {
    margin-bottom: 0px!important;
}
.playlist-csn .list-inline{
    opacity: 0;
}
.playlist-csn .title_playlist{
    width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist-csn .list-unstyled:hover .list-inline{
    opacity: 1;
}
.modal_content_csn {
    padding-left: 30px;
    padding-top: 1px;
}
.modal_icon_csn {
    float: left;
}
.modal-footer {
    padding-top: 5px;
    padding-bottom: 10px;
}
.playlist-csn {
    padding: 10px!important;
}
.playlist-csn .d-flex{
    padding: 8px 8px;
    padding-top: 5px;
    padding-bottom: 4px;
}
.playlist-csn li:hover {
    background-color: #FF2D55;
    color: white!important;
}
.playlist-csn li:hover .title_playlist{
    color: white!important;
}
.playlist-csn li:hover a{
    color: #FF2E55!important;
    text-decoration: #FF2E55!important;
}
.btn-danger {
    color: #fff;
    background-color: #ffffff00;
    border-color: #ffffff00;
}
.jw-single-repeat {
    margin-right: 15px!important;
}
.csn-title-repeat {
    display: none;
    color: white;
    background: rgba(49, 46, 46, 0.8)!important;
    top: -20px;
    margin-left: -30px;
    font-size: 14px;
    position: absolute;
    height: 26px;
    line-height: 3px;
    padding: 11px;
    text-align: center;
    border-radius: 6px;
    font-family: SFProDisplay-Regular;
}
.csn-title-auto {
    display: none;
    color: white;
    background: rgba(49, 46, 46, 0.8)!important;
    top: -33px;
    margin-left: -74px;
    font-size: 14px;
    position: absolute;
    height: 26px;
    line-height: 3px;
    padding: 11px;
    text-align: center;
    border-radius: 6px;
    font-family: SFProDisplay-Regular;
}
.csn-repeat-btn:hover .csn-title-repeat{
    display: inline;
}
.csn-random-btn:hover .csn-title-repeat{
    display: inline;
}
.jw-icon-auto-next:hover .csn-title-auto{
    display: inline;
}
.hidden {
    display: none!important;
}
.box_show_add_playlist{
    background: #fff;
    position: absolute;
    z-index: 1000;
    width: 400px;
    min-height: 185px;
    border: #dbdbdb solid 1px;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    top: 110px;
    left: 537.5px;
}
.box_show_playlist_popup {
    height: 180px;
    overflow-y: scroll;
}
.bxh1 .card1{
    margin-bottom: 0px;
}
.jw-text{
    font-size:13px!important;
}
.tab_video_bxh .list_music .media .media-body .author {
    margin-top: 2px;
}
.tab_video_bxh .align-items-stretch {
    align-self: center;
}
.view_all {
    text-decoration: none!important;;
}
#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}
#searchfield form .biginput {
    width: 600px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
    color: #858585;
}

.flatbtn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: 0;
    border: 0;
    color: #f3faef;
    text-decoration: none;
    background-color: #6bb642;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 22px 12px 22px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
    color: #fff;
    background-color: #73c437;
}
.flatbtn:active {
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
.box_show_add_playlist .card-body{
    cursor: pointer;
}
.ui-autocomplete-loading {
    background: white url("../imgs/ui-anim_basic_16x16.gif") right center no-repeat;
}
.title-row{
    font-size: 14px;
    font-weight: bold;
}
.fn-list{
    padding-left: 5px;
}
.fn-list .mark{
    color: #fd4b5a;
}
.fn-list .fn-artist{
    color: #888;
    font-size: 12px;
}
.fn-list {
    font-weight: 400;
    font-size: 14px;
}
#header .top .form-group .suggest {
    z-index: 999999999;
}
.search_highlight {
 color: #ff3657
}