.author a {
    color: #878787;
}
.card-title{
    color: #1B1B1B;
    text-decoration: none;
}
.card-title:hover{
    color: #1B1B1B;
}
a {
    text-decoration: none!important;
}
.name_song {
    font-size: 16px!important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #1B1B1B;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #FF2D55;
    border-color: #FF2D55;
    cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777777;
    background-color: #fff;
    cursor: not-allowed;
}
.block_baihat_main {
    margin-bottom: 10px;
}
.swiper-w145 {
    width: 145px!important;
}
.swiper-w90 {
    width: 90px!important;
}
.input_type_mobile {
    background: #fff;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 16px;
    border-radius: 40px;
    height: 48px;
    padding: 5px 15px;
    z-index: 99;
    margin-top: 5px;
}
.checkbox_remember{
    box-sizing: border-box;
    padding: 0;
    color: white;
    display: flow-root;
    margin: 10px 5px;
}
.google {
    background-color: #e9544f;
    color: white;
}
.thumb-mask {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 14%,rgba(0,0,0,0) 59%,rgba(0, 0, 0, 0.82) 84%,rgba(0, 0, 0, 0.82) 100%);
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.input-help-block {
    display: block;
    color: #FF2D55!important;
}
footer {
    min-height: auto;
}
.modal_icon_csn {
    float: left;
}
.modal_content_csn {
    padding-left: 30px;
    font-size: 17px;
}
.autoplay input {
    display: none;
}
.autoplay input:checked + .form-check-label .switch {
    background-image: linear-gradient(-243deg, #fb6b60 0%, #ff2e55 100%);
}
.autoplay input:checked + .form-check-label .switch:after {
    left: calc(100% - 23px);
}
.autoplay .switch {
    display: inline-block;
    cursor: pointer;
    width: 42px;
    border-radius: 20px;
    height: 25px;
    transition: all 0.36s;
    position: relative;
    background-image: linear-gradient(-243deg, #e3e3e3 0%, #afafaf 100%);
}
.autoplay .switch:after {
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    top: calc((100% - 21px)/2);
    left: 2px;
    background: #fff;
    border: 0 solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 3px 1px 0 rgba(0, 0, 0, 0.10);
    transition: all 0.36s;
}
.autoplay .txt {
    font-family: 'SFProDisplay-Regular';
    font-size: 13px;
    color: #9b9b9b;
    letter-spacing: -0.21px;
}
.sub_line {
    display: none;
}
.vietsub1 {
    color: #65abbc;
}
.vietsub2 {
    color: #c0a478;
}
.block_player .listen {
    background-color: #ff93938f;
}
.icon-box-playlist {
    float: right;
    position: absolute;
    right: 0;
    margin-top: -4px;
}
.music-exists a {
    color: #FC655F!important;
}