@font-face {
    font-family: "SF-Pro-Display-Bold";
    src: url("../fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
    font-family: "SF-Pro-Display-Semibold";
    src: url("../fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family: "SF-Pro-Display-Regular";
    src: url("../fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
    font-family: "SF-Pro-Display-Medium";
    src: url("../fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
    font-family: "SF-Pro-Display-Heavy";
    src: url("../fonts/SF-Pro-Display-Heavy.otf");
}

@font-face {
    font-family: "SF-Pro-Display-Thin";
    src: url("../fonts/SF-Pro-Display-Thin.otf");
}

body {
    font-size: 13px;
    font-family: "SF-Pro-Display-Regular";
}
* {
    word-break: break-word !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "SF-Pro-Display-Regular";
}

img {
    max-width: 100%;
}

p,
span,
a {
    font-family: "SF-Pro-Display-Regular";
    font-size: 13px;
}

.text-pink {
    color: #ff2d55;
}

.text-gray {
    color: #878787;
}

.text-orange {
    color: #f5a623;
}

.text-green {
    color: #7ed321;
}

.text-blue {
    color: #4a90e2;
}

.main_title {
    font-size: 18px;
}

.rounded {
    border-radius: 10px !important;
}

/* .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
} */

.header_top .navbar {
    background: linear-gradient(to right, #ff2d55, #fb6a60);
    padding: 3px 0px;
}

.menumain .navbar-nav {
    padding: 0px 15px;
}

.overflow-hidden {
    overflow: hidden;
}

.page_login .header_top .navbar {
    background: #2c2c2c;
}

.header_top .navbar.bg-black-cs {
    background: #2c2c2c !important;
}

.show_menu .header_top .button_search {
    visibility: hidden;
}

.menumain {
    display: none;
}

.menumain .profile {
    background-color: #252525;
}

.menumain .profile {
    padding: 15px;
    margin: 0;
    position: relative;
}

.menumain .profile .image {
    width: 25%;
    padding-bottom: 25%;
}

.show_menu .header_top .navbar-toggler-icon {
    background-image: url(../images/Untitled-5.png);
    background-size: 18px;
}

.header_top .navbar-dark .navbar-toggler {
    border: 0;
    outline: 0;
    padding: 0;
    margin-left: 15px;
}

.slider_home {
    background: linear-gradient(to bottom right, #ded7da, #ececec);
}

.slider_home .item {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.slider_home .element {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
}

.name_song {
    font-size: 16px;
    font-family: "SF-Pro-Display-Regular";
}

.loss {
    font-size: 13px;
}

.image100 {
    width: 63px;
    min-width: 63px;
    height: 63px;
    border-radius: 5px;
}

.slider_home.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff2d55;
}

a.navbar-brand.logo {
    margin: 0;
}

.block_album .image {
    width: 100%;
    padding-bottom: 100%;
}

.block_album.block_album--2col {
    display: flex;
    flex-wrap: wrap;
    padding: 0 7.5px;
    margin-top: 15px;
}

.block_album.block_album--2col .item {
    width: calc(100%/2);
    padding: 0 7.5px;
}

.block {
    padding-top: 15px;
}

.block_album .element,
.block_video_main .element {
    margin-bottom: 15px;
}

.block_video_main .element {
    padding: 0 7.5px;
    width: 100%;
}

.block_video_main .element .image {
    margin-right: 15px;
}
.block_video_main .element .content{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.block_album_main,
.block_video_main {
    margin: 0 -7.5px;
}

.block_video_main .image {
    padding-bottom: 60%;
    position: relative;
}

.header_top+.nav-pills .nav-link {
    padding: 15px 14px;
    border-radius: 0;
    color: #000;
    font-size: 15px;
    white-space: nowrap;
}

.header_top+.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-bottom: 2px solid #ff2d55;
    background-color: transparent;
    color: #000;
}

.header_top+.nav {
    background-color: #ededed;
    width: 100%;
    overflow: scroll;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
}

.owl-theme .owl-dots .owl-dot span {
    background: #9b9b9b;
    width: 8px;
    height: 8px;
}

.logo {
    width: 40%;
    max-width: 90px;
}

.time {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000a1;
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    line-height: 1;
}

.time img {
    margin-right: 3px;
    vertical-align: bottom;
    width: 10px;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a1;
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    line-height: 1;
}

.view img {
    margin-right: 3px;
    vertical-align: baseline;
    width: 12px;
}

.number {
    font-size: 15px;
    line-height: 1;
    font-family: "SF-Pro-Display-Semibold";
}

.image100px {
    width: 90px;
    padding-bottom: 17%;
}

.block_thongtin .title.p-3.relative {
    padding-right: 110px !important;
}

.number_wrap .fa {
    font-size: 25px;
}

.block_bxhvideo .image {
    width: 90px;
    padding-bottom: 17%;
    position: relative;
}

.block_detail_chude .element {
    height: 110px;
}

.block_detail_chude .col-6 .element {
    height: 90px;
}

.block_detail_chude .col-6:nth-child(2n+1) {
    padding-right: 4px;
}

.block_detail_chude .col-6:nth-child(2n) {
    padding-left: 4px;
}

.block_detail_chude .col-6 .element h5 {
    margin-bottom: 0;
}

.block_detail_chude .element .text-white {
    font-size: 18px;
    font-family: "SF-Pro-Display-Heavy";
}

.block_detail_chude .slide-chude .element {
    height: 70px;
}

.block_detail_chude .slide-chude .element h5 {
    margin-bottom: 0;
}

.menumain .navbar-nav h2 {
    margin-top: 15px;
    font-size: 17px;
    color: rgba(255, 255, 255, .8);
    font-family: "SF-Pro-Display-Regular";
    text-transform: uppercase;
}

.dropdown-toggle::after {
    display: none;
}

.menumain .navbar-nav .nav-link {
    padding: 15px 0;
    color: rgba(255, 255, 255, .8);
    font-size: 1rem;
    line-height: 1;
}

.menumain .navbar-nav .nav-link .fa {
    margin-right: 10px;
}

.menumain .dropdown-menu {
    background-color: #252525;
}

.menumain .dropdown-item {
    color: #9b9b9b;
    padding: .25rem 2.5rem;
}

.dropdown-toggle::after {
    right: 0;
    top: 25px;
    position: absolute;
}

.nav-item.dropdown.show .dropdown-toggle::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header_top .dropdown-menu.show {
    margin: 0 -15px;
}

.header_top .navbar-dark .navbar-brand {
    margin-right: 15px;
}

.main {
    margin-top: 99px;
}

.swiper1 .swiper-slide span,
.swiper1 .swiper-slide a {
    font-size: 15px;
}
/*
.block_thongtin .swiper1 .swiper-slide {
    width: auto !important;
    padding: 0 19px !important;
    margin-right: 0 !important;
}*/

.navbar-brand .fa-search {
    font-size: 24px;
}

.block_login .image {
    padding-bottom: calc(100%/3);
    width: calc(100%/3);
}

.login_button {
    border-radius: 30px;
    width: 100%;
    display: block;
    padding: 12px 15px;
    font-size: 16px;
}

.facebook {
    background-color: #3a5999;
    color: #fff;
}

.google {
    background-color: #fff;
}

.block_login {
    position: relative;
    min-height: calc(100vh - 49px);
}
.block_login_image {
    height: 100%;
}
.page_login .container-fluid {
    padding: 0;
}

.login_possition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 50px);
    background: url('../images/bgr.png') center center;
    background-size: contain;
    padding-top: 50px;
}
.login_possition:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.login_possition .w-304{
    position: relative;
    z-index: 22
}

.login_possition .mx-auto.text-center {
    margin-bottom: 50px;
}

.login_possition a:hover {
    color: #000;
    text-decoration: none;
}

.button_back .fa {
    font-size: 30px;
    vertical-align: middle;
}

.button_back span {
    vertical-align: middle;
    margin-top: 4px;
}

.player_fixed .image {
    width: 50px;
    position: relative;
    height: 50px;
}

.player_fixed .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player_fixed .icon .fa {
    border-radius: 50%;
    padding: 10px;
    background-color: #0000009e;
    color: #fff;
}

.player_fixed .name_song {
    font-size: 14px;
}

.player_fixed .name_singer {
    font-size: 12px;
}

.player_fixed .size {
    font-size: 10px;
    background-color: #e4e4e4;
    padding: 5px;
    display: inline-block;
}

.player_fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.relative {
    position: relative;
}

.block_button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.block_button .element {
    width: 20px;
    margin-left: 15px;
}

.block_thongtin .block_button .element:hover {
    border: none;
    cursor: pointer;
}

.block_button .element>* {
    width: 100%;
    text-align: center;
}

.block_thongtin .element:hover {
    /*border-bottom: 1px solid #ff2d55;*/
    /*color: #ff2d55*/
}

.block_thongtin .image {
    position: relative;
}

.block_thongtin .infor_main {
    position: relative;
}

.block_thongtin .player_media {
    width: 100%;
    height: 50px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
}

.block_thongtin .infor_main .image-main {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    border-radius: 15px;
}

.image_player {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #000, #000000c2);
    box-shadow: 6px -4px 20px 0px #000;
}

.slider-selection {
    background: #ff2d55;
}

.slider.slider-horizontal .slider-track {
    height: 4px;
    background: #9B9B9B;
}

.slider.slider-horizontal {
    width: 100%;
    position: absolute;
    top: -10px;
}

.slider-handle {
    background: #fff;
    width: 18px;
    height: 18px;
    top: -2px;
}

.main_player,
.main_profile {
    margin-top: 49px;
}

.bg-blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.block_playlist_list_element .number {
    line-height: 2;
}

.block_playlist_list .icon .fa {
    font-size: 22px;
}

.block_playlist_list {
    padding: 25px 0;
}

.text_binhluan {
    line-height: 3;
}

.area_binhluan {
    background-color: #ededed;
}

.block_binhluan .image_player {
    background: transparent;
    box-shadow: none;
}

.binhluan_player_center .fa-play {
    font-size: 20px;
}

.line-height-15 {
    line-height: 1.5;
}

.line-height-3 {
    line-height: 3;
}

.binhluan_bottom .element .text {
    width: 60%;
}

.block_download_element .element span {
    font-family: "SF-Pro-Display-Semibold";
}

.block_download .right {
    width: 30%;
}

.block_download .text-red {
    color: #cc2a20;
    padding: 0 20px;
}

.block_search_fixed {
    background: linear-gradient(to right, #ff2d55, #fb6a60);
    width: 100%;
    display: none;
    padding: 9px 15px;
}

.wrap-search.open .block_search_fixed {
    display: block;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.input_search {
    background: #fff;
    width: calc(100% - 65px);
    border: none;
    outline: 0;
    font-size: 15px;
    border-radius: 40px;
    height: 32px;
    padding: 5px 15px;
    position: relative;
    z-index: 99;
}

.button_close {
    position: absolute;
    height: 32px;
    top: 9px;
    right: 15px;
    background: #fff;
    border-radius: 25px;
    padding: 0 15px;
    line-height: 32px;
    cursor: pointer;
}

.wrap-search {
    display: none;
    min-height: 100vh;
}

.wrap-search.open {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    display: block;
    overflow: auto;
    z-index: 999;    
    padding-top: 50px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/icon-bar.png);
    width: 1.7rem;
}

.icon {
    max-width: 20px;
    margin-right: 5px;
}

.block_more .icon {
    position: absolute;
    top: 50%;
    right: 0;
}

.block_more .element {
    position: relative;
}

.wrap-bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 990;
    width: 100%;
    height: 100%;
    display: none;
}

.bottom-sheet {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 991;
    width: 100%;
}

.bottom-sheet h4 {
    padding: 15px;
    background: #ededed;
}

.bottom-sheet img {
    max-width: 36px;
}

.bottom-sheet .row {
    padding: 20px 0 0;
}

.bottom-sheet .col-4 {
    position: relative;
    height: 70px;
    margin-bottom: 20px;
}

.bottom-sheet .col-4 p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
}

.next_prev_wrap span {
    display: inline-block;
    margin: 0 8px;
}

.select-quality label {
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0;
    padding: 15px 0;
}

.select-quality label>strong {
    position: relative;
    padding-left: 30px;
}

.select-quality label>strong:before,
.select-quality label>strong:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
}

.select-quality label>strong:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FF476A;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.select-quality label>strong:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FF476A;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    display: none;
}

.select-quality label input:checked+strong:after {
    display: block;
}

.cl-green {
    color: #98DB4D;
}

.cl-blue {
    color: #5194E3;
}

.cl-orange {
    color: #F7BB57;
}

.cl-pink {
    color: #FF476A;
}

.c-btn {
    display: inline-block;
    background: #fff;
    color: #212529;
    text-align: center;
}

.btn.btn-radius {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.group-btn {
    background: #ededed;
    padding: 10px 0;
}

.group-btn .c-btn {
    margin: 0 10px;
}

.c-btn-default {
    min-width: 100px;
    line-height: 35px;
    border-radius: 4px;
}

.c-btn-red {
    background: #ff2d55;
    color: #fff;
}

.c-btn-red:hover {
    color: #fff;
    text-decoration: none;
}

.start {}

.swiper-container .show {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
    height: 100px;
    border: 5px solid #eee;
    border-radius: 5px;
    font-size: 14px;

}

.swiper1 {
    width: 100%;
}


.swiper1 .swiper-slide {
    border-bottom: 2px solid transparent;
}

.swiper1 .swiper-slide.swiper-slide-thumb-active.swiper-slide-visible {
    color: #ec5566;
    border-bottom: 2px solid #ec5566;
}

.swiper1 .swiper-slide{
    width: auto !important; 
    padding: 0 10px !important;
    min-width: calc(100%/4) !important;
    max-width: calc(70%) !important;
    text-align: center;
    font-size: 15px;
    height: 50px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    overflow: hidden;
}

.swiper-container.swiper1 {
    background: #ededed;
}

.swiper2 {
    width: 100%;
    min-height: 100px;
}

.swiper2 .swiper-slide {
    min-height: 100px;
    width: 100% !important;
}

.block_baihat_main .element {
    position: relative;
}

.block_baihat_main .content>* {
    margin-bottom: 0;
}

.bottom-sheet h4 {
    font-size: 18px;
}

footer {
    min-height: 70px;
}

.swiper1_catalog .swiper-slide.swiper-slide {
    width: auto !important;
    padding: 0 10px;
    text-align: center;
}

.block_baihat .content,
.block_baihat .element {
    vertical-align: top;
}

/* .block_baihat .content {
    width: calc(100% - 80px);
    padding-right: 25px;
}

.block_bxhvideo .content {
    width: calc(100% - 160px);
}

.block_player .content {
    width: calc(100% - 10px);
}

.block_bxhvideo .content {
    width: calc(100% - 165px);
} */

/* .block_bxhbaihat .content {
    width: calc(100% - 130px);
    padding-right: 25px;
} */

.swiper_wfree .swiper-slide.swiper-slide {
    width: auto !important;
}

.box_profile__header img {
    width: 90px;
    height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.btn-gradien {
    background-image: -webkit-linear-gradient(318deg, #FC655F 0%, #FF2F55 100%);
    background-image: -o-linear-gradient(318deg, #FC655F 0%, #FF2F55 100%);
    background-image: linear-gradient(-228deg, #FC655F 0%, #FF2F55 100%);
    border: none;
    color: #fff;
}

.btn-radius {
    border-radius: 25px;
}

.btn-radius>* {
    font-size: 15px;
    margin: 0 3px;
}

.block_profile_playlist .row-sm {
    margin-left: -7px;
    margin-right: -7px;
}

.block_profile_playlist .row-sm .col-6 {
    padding: 0 7px;
}

.time_request {
    position: absolute;
    bottom: 15px;
    right: 0;
    font-size: 11px;
}

.menumain {
    background: #2c2c2c;
    position: absolute;
    top: 48px;
    width: 100%;
    z-index: 99;
}

.show_menu .header_top .navbar {
    background: #2c2c2c;
}

.header_sub_menu {
    position: fixed;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 90;
}

.header_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.block_search_fixed input {
    background: #fff;
}

.box_profile {
    display: flex;
    align-items: center;
}

.box_profile .box_profile__header {
    margin-right: 10px;
}

.box_profile__body .media-title.user_name {
    font-size: 18px;
    margin-bottom: 5px;
}

.box_profile .box_profile__body .list-inline {
    margin-bottom: 5px;
}

.wrap-edit-profile {
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 10% 5%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.d-hidden {
    display: none;
}

.box_edit_profile {
    background: #fff;
}

body.overlay main {
    display: none;
}
body.overlay,body.overlay .swiper-container.swiper1{
    background: #2c2c2c;
}
body.overlay .swiper-container.swiper1{
    display: none;
}

.profile_submit1 input {
    min-height: 38px;
}
.btn-secondary-grey {
    background: #ededed;
}
.block_popup_login {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.main-no-swiper {
    margin-top: 49px;
}
.login_possition .input-checkbox{
    color: #fff;
    width: 100%
}
.login_possition input {
    border: none;
}
.input-checkbox > * {
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}
.input-checkbox span {
    max-width: calc(100% - 30px);
}
.checkbox_remember a,.checkbox_remember a:focus,.checkbox_remember a:hover {
    color: #3a5999;
}
.w-304 {
    width: 304px !important;
    overflow-x: hidden;
}
.block_banner_singer {
    background-size: cover !important;
}
.box_profile__body h4 {
    font-weight: bold;
}
.box_profile__body .navbar a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px; 
}
.box_profile__body .navbar .list-inline-item {
    margin-right: 0;
}
.box_profile__body .navbar a.wishlist,
.box_profile__body .navbar a.dropdown-toggle {
    font-size: 20px;
    display: inline-block;
}
.box_profile__body .navbar a.dropdown-toggle {
    padding: 0;
}
.sub_menu_singer .list-inline-item>a>span {
    position: relative;
}
.sub_menu_singer .list-inline-item>a>span:after {
    content: "";
    width: 50%;
    height: 2px;
    background: transparent;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.sub_menu_singer .list-inline-item.active>a>span:after,
.sub_menu_singer .list-inline-item:hover>a>span:after{
    background: #ff2d55; 
}
a:hover{
    text-decoration: none;
}
.menu_option .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
    right: -8px;
    background: #252525;
    margin-top: 10px;
}
.menu_option {
    position: relative;
}
.menu_option .dropdown{
    position: inherit;
}
.wishlist.selector {
    color: #ff2d55 !important;
}
.wishlist.selector .fa:before{
    content: "\f004";
}
.block_body_comment textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
}
.block_body_comment .user_comment {
    width: 40px;
    vertical-align: top;
}
.block_body_comment .user_comment img {
    width: 40px;
    height: 40px;  
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.block_body_comment .infor > *{
    margin-right: 5px;
}
.block_body_comment .infor > time {
    color: #ff2d55; 
}
.block_body_comment .detail p {
    margin-bottom: 0;
}
#changeAvatarModal .cr-slider-wrap{
    display: none !important
}
.box_profile__body.text-center {
    color: #fff;
}
.area_comment.d-flex {
    flex-wrap: wrap;
}
.area_comment .content_comment {
    width: calc(100% - 40px);
}
.position_relative {
    position: relative;
}
.area_comment .item .data_time {
    position: absolute;
    top: 0;
    right: 0;
}
.block_all_comment .area_comment{
    border-top: 1px solid #ccc;
}
.form_reply_comment {
    display: none;
}
.form-control:focus,
.form-control:focus,
.form-control:focus {
    box-shadow:none;
}
#addPlayList .modal-header button {
    padding: 10px !important;
    font-size: 20px;
    line-height: 1;
}
#addPlayList .modal-footer form {
    width: 100%;
}
#addPlayList .modal-body .list-group {
    background: #f1f1f1;
}
#addPlayList .modal-body .list-group .list-group-item {
    background: #f1f1f1;
    border:none;
    border-radius: 0;
}
/*#addPlayList .modal-body .list-group .list-group-item:hover {*/
    /*background: #FF2F55;*/
    /*color: #fff;*/
/*}*/
#addPlayList .modal-body .box_show_playlist {
    height: 180px;
    overflow-y: scroll;
    background: #f1f1f1;
}
#show_content {
    display: none;
}
.element{
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.number_wrap {
    min-width: 50px;
    margin: 0 !important;
}
.element .image
 {
    min-width: 90px;
    height: 63px;
}
.element .content {
    padding-right: 15px;
}
.item.element {
    display: block;
}